apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: devops-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: api-gateway:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: USER_SERVICE_URL
              value: http://user-service:8000
            - name: ORDER_SERVICE_URL
              value: http://order-service:8000
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
          securityContext:
            runAsNonRoot: true
            runAsUser: 1001

